body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/originals/55/74/54/557454f9d762c6b6c9efdaec66b4dbb9.jpg');
  background-size: cover; 
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  color: #000000;
}